@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    font-family: "Mulish", serif;
}

:root {
    --primary-color: #458FF6;
}

.text-hover-effect:hover {
    transition: all 0.5s;
    color: black !important;
    font-weight: 700;
}

.font-size-secondary {
    font-size: 18px;
}

.left-right-padding {
    padding:  0 15em 0 15em !important;
}

.logo {
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #FFFFFF;
}

.logo-text {
    font-size: 26px !important;
}

.side-logo-text {
    font-size: 24px !important;
    padding-left: .3em !important;
    font-weight: 700 !important;
}

.image-section {
    width: 900px;
    height: 500px;
}

.image-section img { 
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: contrast(110%);
}

.btn {
    background-color: var(--primary-color) !important;
    color: white !important;
    border-radius: 50px !important;
    font-weight: bold !important;
    font-size: 18px !important;
    margin-top: 1em !important;
    padding:  0.6em 2em !important;
}


.header-para-color {
    color: #7D7987;
    width: 80%;
    margin-top: 1em;
}

.h1-margin {
    margin-top: 2em;
    font-size: 3rem;
    /* border: 2px solid red !important; */
}